* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: blue;
    object-fit: cover;
    background: url(./img/shiny-night-city.jpg);
    background-size: cover;
}

.nav {
    height: 70px;
    width: 100%;
    font: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(./img/shiny-night-city.jpg);
    background: #0000008c;
    padding: 0 50px;
    position: fixed;
    z-index: 1000;
    background-size: cover;


}

.logo {
    width: 40%;
}

.logo img {
    width: 25%;
    border: 3px solid white;
    border-radius: 50px;
}

.nav i {
    font-size: 1.5vw;
    font-weight: 800;
    color: wheat;
    display: none;
}

.nav H6 {
    font-size: 2vw;
    color: wheat;
}

.form {
    display: flex;
    align-items: center;
}

.form input {
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
}

.form button {
    font-size: 1vw;
    border-radius: 8px;
    margin: 1vw;
    border-radius: 20px;
    border: none;
    width: 6vw;
    height: 2vw;
    font-weight: 500;
}

.nav-part2 ul {
    display: flex;
    list-style: none;
    gap: 4vw;
    font-size: 1.2vw;
    font-weight: 500;
    color: wheat;
    padding-right: 150px;
}

.nav-part2 ul :hover {
    color: rgb(33, 15, 131);
    transition: 1s;
}

@media (max-width:900px) {
    .nav {
        height: 60px;
    }

    .nav h6 {
        font-size: 6vw;

    }

    .nav-part2 ul {
        font-size: 3vw;
        display: none;

    }

    .nav i {
        display: block;
        font-size: 6vw;
        color: wheat;

    }

    .form input,
    button {
        display: none;

    }

}

.section1 {
    display: flex;
    padding: 180px 200px;
    background: #0000008c;
    height: 100%;
}

.rightbox {
    width: 50%;
    margin: auto;
}

.leftbox {
    width: 50%;
    margin: auto;
    background-color: #00000024;
    border: 6px #00000024;
    border-radius: 20px;
}

.rightbox video {
    width: 100%;
    border-radius: 20px;
}

.paras {
    color: white;
    padding: 7px 12px;
}

.main2 {
    background-image: url(img/build2.jpg);
    align-items: center;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main2 .container {
    display: flex;
    padding: 100px 168px;
    background: #0000008c;
    height: 100%;
}

.container .container-sm1{
    width: 50%;
    margin: auto;
}
.container-sm1 .about{
    color: #5e6ed8;
    font-family: sans-serif;
    font-weight: bolder;
}

.container .italic{
    font-size: 21px;
    font-style: italic;
    color: white;
    padding: 10px 0;
}

.para,.para2{
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 10px 0;
}

.btn1{
    margin: 25px 123px;
    padding: 10px;
    font-size: 14px;
    width: 180px;
    border: 3px soli white;
    border: 3px solid white;
    border-radius: 32px;
    background-color: #5e6ed8;
}

.container .container-sm2{
    width: 50%;
    margin: 0 0 0 44px;
}

.container-sm2 img{
    border: 4px solid white;
    width: 524px;
    height: 500px;
}